{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <span class="logo">
                <a href="{% url 'ad_list' %}">Объявления</a>
                <a href="{% url 'proposals:all_proposals' %}">Предложения</a>
            </span>
            <span class="user">
                {% if user.is_authenticated %}
                    <span class="username">{{ user.username }}</span>
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Выйти</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Log-in</a>
                {% endif %}
            </span>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">x</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>